<div class="card">
    <div class="card-body">
        <h1>About</h1>
        <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus blanditiis,
            officia, a magnam vel incidunt sit vero quibusdam rem dicta nemo asperiores 
            corporis distinctio ad quis corrupti. Expedita, sunt quo, velit ab mollitia 
            aperiam asperiores explicabo impedit necessitatibus voluptas ullam!</p>
            
    </div>
</div>