
<nav class="navbar navbar-expand-lg navbar-light bg-light bg-primary sticky-top">
    <div class="container">
        <a class="navbar-brand waves-effect" href="/">
          <img src="/img/Logo2.png" class="ml-auto"  width="40" height="40" alt="40">
        </a>

        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
          aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNavDropdown">
                
          <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
              <a class="nav-link waves-effect" href="/donaciones">Mis donaciones
                <span class="sr-only">(current)</span>
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link waves-effect" href="/donacion/crear">Donar
                <span class="sr-only">(current)</span>
              </a>
            </li>
          </ul>


      <div class="main-content"></div>
          <section class="cd-section home-screen" id="top">
              <nav class="navegation-static">
                  <ul class="navbar-nav nav-flex-icons">
                      <li><a href="#acerca de">Acerca de</a></li>
                      <li><a href="#por que donar?">Por que donar?</a></li>
                      <li><a href="#causas">Causas</a></li>
                      <li><a href="#que donar?">Que donar?</a></li>
                  </ul>
              </nav>
          </section>
        </div>
    </div>
</nav>